.main-nav{
    background-color: black;
   
    color: aliceblue;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 20vh;
    align-items: flex-start;
    justify-content: space-between  ;
    position: relative;
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;

  
}

.main-nav > .logo {
    width: 6.5em;
    height: 4.5em;
    object-fit: contain;
    margin: 0%;
    padding: 0%;
    position: relative;
}

.main-nav > .search-ul{
    
    position: relative;
    top: 0%;
    
    font-size: small;
    padding-top: 1%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 6em;
   
    margin: 0%;
    width: 40vw;
}

.main-nav > .search-ul > li{
    font-weight: 300;
    font-size: small;
}

.places-to-stay{
    width: 20%;
}
.experiences{
   width: 20%;
}
.main-nav > .widgets-ul {
    
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    height: 3em;
    margin: 0%;
    padding-top: 1%;
    
}

.main-nav > .widgets-ul > li {
    color: #FFFFFF;
  cursor: pointer;
  font-weight: 600;
 
  font-size: small;


}

.main-nav > .search-ul > li > h3 > a {
    text-decoration: none;
    color: #FFFFFF;
}

 .main-nav > .widgets-ul > .profile-moderator >.profile-moderator-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 5em;
  height: 3em;
  background-color:  #FFFFFF;
  border-radius: 30px;
  border: none;
  border: none;
  cursor: pointer;
  padding: 5%;
  

}

.main-nav > .widgets-ul > .profile-moderator >.profile-moderator-button > i{
  font-size: 2em;
  padding: 2%;  
  
}

.profile-moderator{
   
    height: 3.9em;
    padding: 0%;
    margin: 0%;
    width: 7em;
}
