.places-to-stay-form {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  background-color: white;
  color: black;
  height: 3.5em;
  width: 47em;
  padding: 1%;
}


.places-to-stay-form>.form-element {
  
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  /*border-right: 0.8px solid rgb(197, 197, 197);*/
  -webkit-transition: background-color 0.2s ease-out;
  height: auto;
  width: 100%;
  max-width: auto;
  padding: 1.5%;
  font-size: 400;

}

.places-to-stay-form> .form-flex-element{

 border-radius: 40px;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content:space-between;
 /*border-right: 0.8px solid rgb(197, 197, 197);*/
 -webkit-transition: background-color 0.2s ease-out;
 height: 100%;
 width: 100%;
 max-width: auto;
 
 font-size: 400;


}


.places-to-stay-form > .form-flex-element > .form-element-guests{

  border-radius: 40px;
  display: grid;
 grid-template-rows: repeat(2, 40%);
  align-items: center;
  justify-content: flex-start;
  

  /*border-right: 0.8px solid rgb(197, 197, 197);*/
  -webkit-transition: background-color 0.2s ease-out;
  height: 80%;
  width: 70%;
  padding-top: 4%;
  padding-left: 5%;
  font-size: 400;
 
}

.label{

  font-size: small;
   font-style: normal;
   font-weight: 500;
 



}
.data{
 
  
  
  background-color: transparent;
  font-size: small;
  font-style: normal;
  font-weight: 300;
}




.separator-line{
 border: 0.5px solid rgb(197, 197, 197);
 height: 60%;
 width: 0%;
}

.places-to-stay-form>.form-element:hover{
  background-color: rgb(194, 194, 194);
}

.places-to-stay-form>.form-flex-element:hover{
  background-color: rgb(194, 194, 194);
}

.places-to-stay-form>.form-element> label {
   font-size: small;
   font-style: normal;
   font-weight: 500;
}
   
   
input[type=text],
input[type=date],
input[type=number] {
  border: none;
  background-color: transparent;
  font-size: small;
  font-style: normal;
  font-weight: 300;
}

.places-to-stay-form> .form-flex-element> .search-button {

  border-radius: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
  justify-content: space-between;
  height: 100%;
  width: auto;
  background-color: #FF5A5F;
  color: white;
  border: none;
  cursor: pointer;
  

}
   
.places-to-stay-form>.form-flex-element>.search-button:hover {
  width: 60%;
}



.places-to-stay-form>.form-flex-element>.search-button>i {
  font-size: 1.5em;
  display: inline;

}

.places-to-stay-form>.form-flex-element>.search-button>i>span {
  opacity: 0;
}

.places-to-stay-form>.form-flex-element>.search-button:hover>i>span {
  opacity: 1;
}

.counters-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: white;
  border-radius: 25px;
  height: 30%;
  width: 45%;
  color: black;
  position: relative;
  left:45%;
  margin-top: 2%;
  padding: 2%;
 
}